app:
  title: My RHDH App
auth:
  providers:
    guest:
      dangerouslyAllowOutsideDevelopment: true
backend:
  database:
    client: pg
    pluginDivisionMode: schema
    connection:
      database: ${POSTGRES_DB}
      host: ${POSTGRES_HOST}
      port: ${POSTGRES_PORT}
      user: ${POSTGRES_USER}
      password: ${POSTGRES_PASSWORD}
