## References

- [Red Hat Developer Hub Documentation](https://docs.redhat.com/en/documentation/red_hat_developer_hub/)
- [Backstage Documentation](https://backstage.io/docs/)
- [RHDH Helm Chart](https://github.com/redhat-developer/rhdh-chart)
- [RHDH Operator](https://github.com/redhat-developer/rhdh-operator)
