apiVersion: v1
kind: ConfigMap
metadata:
  name: rhdh-app-config
data:
  app-config-rhdh.yaml: |
    backend:
      database:
        client: pg
        pluginDivisionMode: schema
        connection:
          database: ${POSTGRES_DB}
          host: ${POSTGRES_HOST}
          port: ${POSTGRES_PORT}
          user: ${POSTGRES_USER}
          password: ${POSTGRES_PASSWORD}


