global:
  dynamic:
    includes:
      - dynamic-plugins.default.yaml

    plugins: []

upstream:
  backstage:
    extraEnvVarsSecrets:
      - my-rhdh-secrets
    appConfig:
      app:
        title: My RHDH App

      auth:
        providers:
          guest:
            dangerouslyAllowOutsideDevelopment: true
      i18n:
        locales:
          - en
        overrides:
          - /opt/app-root/src/translations/all-translations.json
