apiVersion: v1
data:
  app-config.yaml: |
    app:
      title: My RHDH App

    auth:
      providers:
        guest:
          dangerouslyAllowOutsideDevelopment: true
kind: ConfigMap
metadata:
  name: my-rhdh-app-config
