upstream:
  postgresql:
    enabled: false

  backstage:
    # This is required in order to remove POSTGRESQL_ADMIN_PASSWORD from the environment variables
    # https://github.com/redhat-developer/rhdh-chart/blob/dba8d637567b430d6c0b95734b69198ac0b2eb4c/charts/backstage/values.yaml#L127-L137
    extraEnvVars:
      - name: BACKEND_SECRET
        valueFrom:
          secretKeyRef:
            key: backend-secret
            name: '{{ include "janus-idp.backend-secret-name" $ }}'
    extraVolumeMounts:
      # we need to copy whole extraVolumeMounts directory form original values.yaml beucase there is no way to 
      # easily extend arrays in helm
      - mountPath: /opt/app-root/src/dynamic-plugins-root
        name: dynamic-plugins-root
      - name: temp
        mountPath: /tmp
      #  this is what is specific to this example
      - mountPath: /opt/app-root/src/global-bundle.pem
        name: postgres-crt
        subPath: global-bundle.pem
    
    extraVolumes:
      # we need to copy whole extraVolumes directory form original values.yaml beucase there is no way to 
      # easily extend arrays in helm
      - ephemeral:
          volumeClaimTemplate:
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 1Gi
        name: dynamic-plugins-root
      - configMap:
          defaultMode: 420
          name: dynamic-plugins
          optional: true
        name: dynamic-plugins
      - name: dynamic-plugins-npmrc
        secret:
          defaultMode: 420
          optional: true
          secretName: '{{ printf "%s-dynamic-plugins-npmrc" .Release.Name }}'
      - name: dynamic-plugins-registry-auth
        secret:
          defaultMode: 416
          optional: true
          secretName: '{{ printf "%s-dynamic-plugins-registry-auth" .Release.Name }}'
      - name: npmcacache
        emptyDir: {}
      - name: temp
        emptyDir: {}
      #  this is what is specific to this example
      - name: postgres-crt
        configMap:
          name: aws-rds-ca-bundle