app:
  title: My RHDH App

auth:
  providers:
    guest:
      dangerouslyAllowOutsideDevelopment: true
i18n:
  locales:
    - en
  overrides:
    - /opt/app-root/src/translations/allTranslations.json
