global:
  dynamic:
    plugins: []
upstream:
  backstage:
    extraEnvVarsSecrets:
      - my-rhdh-secrets
    extraAppConfig:
      - configMapRef: my-rhdh-app-config
        filename: app-config.yaml
  postgresql:
    enabled: false
